*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    background: black;
    margin: auto;
    border-radius: 20px;
    width: 80%;
    height: 85vh;
}
.title{
    display: flex;
    justify-content: space-between;
}
.title h2{
    color: white;
    font-size: x-large;
    padding: 20px;
}
.title img{
    width: 100px;
    
}
.message_container{
    width: 100%;
    height: 65%;
    padding: 5px;
}
.chat_area{
    border: 1px solid rgb(128,128,128);
    background: black;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-radius: 5px;
    padding-bottom: 15px;
    padding: 10px;
    position: relative;
}
.user_join{
}
.outgoing_msg{
    margin-left: auto;
    max-width: max-content;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-left-radius: 18px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(55, 151,240);
    color: white;
}
.incoming_msg{
    max-width: max-content;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-left-radius: 18px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    color: white;
    background-color: rgb(38,38,38);
    border-radius: 20px;
}
.chatbox{
    
    background-color: black; 
    padding: 5px;
    align-self: center;

}
.chatbox input{
    border: 1px solid rgb(128,128,128);
    border-radius: 50px;
    width: 100%;
    padding: 5px 15px;
    background-color: black;
    color: white;
}
.chatbox input:focus{outline: 0;}